#navbar{
    display: flex;
    gap: 25%;
    width: 100%;
    height: 40px;
}
#navbar>div{
    width: auto;
}
#logo>a>img{
    width: 100%;
    height: 100%;
}
#searchbox{
    display: flex;
    width: 500px;
}
#Search{
    width: 500px;
}
#searchbutton>img{
    width: 100%;
    height: 100%;
}

#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 20px;
}